body {
margin: 0;
padding: 0;
overflow: hidden;
font-family: Helvetica, sans-serif;
color: #333;    
}

#main {
width: 100vw;
height: 100vh;
}

#instructions {
	position: fixed;
	width: 350px;
	bottom: 20px;
	left: 20px;
}

#note {
	text-align: right;
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 16px;
}

#title {
position: fixed;
top: 20px;
left: 20px;
font-size: 30px;
margin-bottom: 15px;
font-weight: bold;

}

.instruct {
font-size: 14px;
margin-bottom: 2px;
}